
.home,
.services,
.beautician,#contact {
    padding: 50px 20px;
    gap: 50px;
    height:auto;
}
/*===========================header==================*/
#btn {
    font-size: 1.2rem;
  }
  nav {
    width: 100%;
    height: 100%;
  }
  nav ul li {
    margin:30px 20px;
  }
  nav ul li a {
    font-size: 0.8rem;
  }
/*===========================home====================*/
.home-text h1 {
    font-size: 1.5rem;
  }
  
  .home-text h1::first-letter {
    font-size: 2rem;
  }
  
  .home-text h3 {
    font-size: 1rem;
  }


  /*==================services======================*/
  .services-text h1 {
    font-size: 2rem;
  }

  .services-text h1::first-letter {
    font-size: 2rem;
  }

  /*========================beautician===================*/

  .beautician-imgsection .beautician-img-section img {
    width:150px;
  }
  .beautician-text h1 {
    color: var(--first-color-alt);
    font-size: 1.7rem;
    letter-spacing: 2px;
  }
  
  .beautician-text h1::first-letter {
    font-size: 2.5rem;
  }
  
  .beautician-text h1 span {
    margin-left: 40px;
  }
  
/*==================contact===================*/
.contact-option p{
    padding: 10px;
    margin-bottom:0px;
  }
  .contact-option p i{
    margin:10px;
  }
  
/*===================footer===================*/

/*=======================media quary for mobaile & tab secreen=========================*/
    footer {
        padding: 20px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .footer-containt {
        flex-basis: 100%;
        border-bottom: 1px solid var white;
    }

    .footer-heading::before {
        display: none;
    }
    .footer-heading{
        margin-bottom: 10px;
        font-size: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--first-color);
    }

    .footer-nav ul {
        display: none;
        background-color: #232526;
    }

    .footer-nav ul li {
        margin: 0px;
        padding: 5px 0px 5px 20px;
    }

    .footer-nav ul li a {
        font-size: 0.7rem;
        color: white;
    }

    hr {
        width: 100%;
    }

    .footer-heading .fa-chevron-down {
        display: inline-block;
        transition-duration: 0.5s;
        color: white;
        cursor: pointer;
        background-color: var(--first-color);
        padding: 10px;
        border-radius: 50%;
    }

    .footer-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .footer-icon {
        margin-top: 10px;
      }
      
      .fa-brands {
        font-size: 20px;
        margin: 10px;
      }
      .copy-right {
        font-size: 1rem;
      }
      
.copy-right {
    font-size: 0.7rem;
  }

/*========================complete all css==============================*/
